@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
  margin: 0;
  padding: 0;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  word-break: break-word; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.eventBg .carousel{
  padding-bottom: 50px;
  padding-top: 20px;
}

.eventBg .carousel-control-prev,
.eventBg .carousel-control-next{
  display: none;
}

.eventBg .carousel-indicators{
  margin-left: 0;
  right: auto;
}

.eventBg .carousel-indicators .active{
  width: 40px;
  height: 10px;
  background-image: linear-gradient(to right, var(--indicator-gradient1), var(--indicator-gradient2));
  background-color: transparent !important;
  border-radius: 42%;
}

.eventBg .carousel-indicators button{
  width: 15px;
  height: 10px;
  background-image: linear-gradient(to right, var(--indicator-inactive), var(--indicator-inactive));
  background-color: var(--indicator-inactive);
  background-color: transparent !important;
  border-radius: 43%;
}
.eventBg .carousel-indicators [data-bs-target]{
  margin-right: 10px ;
}
